# Common
.DS_Store
.env
desktop.ini
node_modules/
bower_components/

# Library
dist/demo.html

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*
*.heapsnapshot

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
