:root {

    font-size: 16px;

}

// Skeleton
body {

    line-height: 1.5;

    padding-top: env( safe-area-inset-top, 0 );
    padding-right: env( safe-area-inset-right, 0 );
    padding-bottom: env( safe-area-inset-bottom, 0 );
    padding-left: env( safe-area-inset-left, 0 );

}

pre {

    background-color: #EAEAEB;
    padding: 8px 16px;

}
