$color: #333;
$background-color: #fff;

:root {

    --color: #{$color};
    --background-color: #{$background-color};

}

.app {

    width: 100%;

    min-height: 100vh;
    color: #{$color};
    color: var( --color, #{$color} );
    background-color: #{$background-color};
    background-color: var( --background-color, #{$background-color} );

    .grid-container {

        padding: 8px;

        @media ( min-width: 768px ) {

            display: grid;
            grid-template-areas: "left right";
            grid-template-rows: 1fr;
            grid-template-columns: 33% 1fr;

        }

        .grid-cell {

            padding: 16px;

        }

        .left {

            grid-area: left;

        }

        .right {

            grid-area: right;
            overflow: hidden;

        }

    }

    label {

        display: block;

    }

    section {

        margin: 0 0 16px;

    }

    /* Better UI for the generated for the Readme */
    .readme ::v-deep article > p:nth-child(2) {

        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        min-height: 36px;
        padding: 6px 12px;
        overflow-x: auto;
        font-size: 0;
        background-color: rgba( 220, 230, 240, .63 );
        border-radius: 5px;

    }

}
