.app {

    $lightColor: #FFF;
    $darkColor: #333;

    --text-color: #{$darkColor};
    --bg-color: #{$lightColor};

    &.dark {

        --text-color: #{$lightColor};
        --bg-color: #{$darkColor};

    }

    height: 100vh;
    width: 100vw;

    text-align: center;
    overflow: hidden;

    color: var(--text-color, #333);
    background-color: var(--bg-color, #FFF);

}
