.cursor-fx {

    $prefix: &;
    $color: #333;

    color: #{$color};
    color: var(--color,#{$color});

    &--hover {

        color: #{$color};
        color: var(--color-hover,#{$color});

    }

    &__inner {

        position: absolute;
        pointer-events: none;

        top: 0;
        left: 0;

        border-radius: 100%;

        will-change: auto;

        transition-property: color, width, height, background-color, border-radius, border-color;
        transition-duration: .23s;
        transition-timing-function: ease;

        &__outside {

            border: 1px solid;
            border-color: currentColor;

        }

        &__outside,
        &__custom {

            width: 64px;
            height: 64px;

        }

        &__inside {

            width: 6px;
            height: 6px;
            background-color: currentColor;

        }

    }

    &--shape {

        &-square {

            > #{$prefix}__inner {

                border-radius: 0;

            }

        }

    }

}
