$colorStart: #CB2D3E;
$colorEnd: #EF473A;

:root {

    --color-start: #{$colorStart};
    --color-end: #{$colorEnd};

    font-size: 16px;

}

// Skeleton
body {

    line-height: 1.5;

    padding-top: env( safe-area-inset-top, 0 );
    padding-right: env( safe-area-inset-right, 0 );
    padding-bottom: env( safe-area-inset-bottom, 0 );
    padding-left: env( safe-area-inset-left, 0 );

}

.markdown-body .button,
.markdown-body button,
.markdown-body a,
.button,
button,
a {

    display: inline-block;
    margin: 0 4px 4px;

    will-change: auto;
    transition: all .3s cubic-bezier( .455, .03, .515, .955 );

    border-radius: 3px;
    border-width: 0;

}

.markdown-body .button,
.markdown-body button,
.button,
button {

    color: #FFF;

    padding: 8px 16px;

    appearance: none;
    text-decoration: none;

    background-image: linear-gradient( to right, #{$colorStart} 0%, #{$colorEnd} 51%, #{$colorStart} 100% );
    background-image: linear-gradient( to right, var(--color-start, #{$colorStart}) 0%, var(--color-end, #{$colorEnd}) 51%, var(--color-start, #{$colorStart}) 100% );
    background-position: left center;

    &:hover {

        background-position: right center;

    }

}

.markdown-body a,
a {

    color: #{$colorStart};
    color: var(--color-start, #{$colorStart});

}
